#clockContainer {
  position: relative;
  height: 40vw;
  width: 40vw;
  background: url(./clock.png) no-repeat;
  background-size: 100%; /* bg-image can fix perfectly into the frame */
  /* border: 2px solid red; */
  margin: auto;
}

#hours,
#minutes,
#seconds {
  position: absolute;
  background: #000;
  border-radius: 10px;
  transform-origin: bottom; /* since the rotation starts from the center*/
}


#hours{
    width: 0.7%;
    height: 20%;
    left: 49.6%;
    top: 30%;
    opacity: 0.8;

}
#minutes{
    width: 0.7%;
    height: 30%;
    left: 49.6%;
    top: 20%;
    opacity: 0.8;
    /* background: blue; */

}
#seconds{
    width: 0.7%;
    height: 35%;
    left: 49.6%;
    top: 15%;
    opacity: 0.8;
    /* background: rgb(123, 123, 128) */

}